.head_projects {
	align-self: center;
	color:#59514b;
}
.text_projects{
	align-self: center;
	color:#59514b;
	font-size: .8em;
}
.filter_line{
	display: flex;
	justify-content: center;
	flex-direction: row;
	height:5%;
	margin-bottom: 1%;
}
.filter{
	color:gray;
	height:90%;
	width:8%;
	background-color: white;
	border:solid 1px gray;
	margin-left: 1%;
	align-self: center;
	text-align: center;
	transition: .5s;
	border-radius: 7%;
	line-height: 200%;
}
.filter:hover{
	background-color: #a88061;
	color: white;
	cursor: pointer;
}
.content{
	height:30%;
	width:100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
#content2{
	margin-bottom: 3%;
}
.content_card{
	height:100%;
	width:20%;
	align-self: center;
}
.img_content{
	height:60%;
	width:90%;
}
.content_text{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width:90%;
	height: 30%;
	background-color: beige;
	opacity: .6;
	transition: .5s;
}
#s{
	color:gray;
	font-size: .7em;
	margin-left: 3%;
}
#f{
	color:#b58e70;
	margin-left: 3%;
}
#invisible{
	z-index: 10;
	position: relative;
	top:80px;
	left:calc(50% - 2.5em);
	color: white;
	opacity: 0;
	font-size:1em;
}
.fa-search{
	margin-right: 2%;
}
.fa-search:hover{
	color:#b58e70!important;
	cursor: pointer;
}
.fa-link:hover{
	color:#b58e70!important;
	cursor: pointer;
}
.content_card:hover .content_text{
	background-color: #2b0d00;
	color:white;
	opacity: 1;
}
.content_card:hover #invisible{
	opacity: 1;
}
.content_card:hover #f{
	color:white;
}
.content_card:hover #s{
	color:#b58e70;
}
 .load_more{
 	height:100%;
 	width:90%;
 	align-self: center;
 	font-size:12px;
 	color:white;
 	background-color: #8e6343;
 	border-bottom: solid 2px #b58e70!important;
 	border:none;
 	border-radius: 2px;
 	transition: .5s;
 }
 .load_more:hover{
 	background-color:#b58e70;
 }
#lm{
	height:6%;
 	width:10%;
 	align-self: center;
}
@media(orientation:portrait) and (max-width:900vh){
	.head_projects{
		font-size:1em;
	}
	.text_projects{
		font-size:.6em;
	}
	.filter,.filter_line{
		display:none;
	}
	.content{
		flex-direction: column;
	}
	.content_card{
		height:10%;
		width:60%;
		margin-bottom: 2%;
	}
	.content_text{
		width: 100%;
	}
	.img_content{
		width: 100%;
	}
	.content{
		justify-content: flex-start;
		margin-top: 1%;
		height: 40%;
		width: 100%; 
	}
	#invisible{
		top:40%;
		left:45%;
	}
	#lm{
		height:3%; 
		width:40%;
	}
}
 
