.content2{
	height:50%;
	width:100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.content_card2{
	height:100%;
	width:20%;
	align-self: center;
	cursor: pointer;
}
.img_content2{
	height:65%;
	width:100%;
}
.content_text2{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width:80%;
	height: 90%;
	background-color: beige;
	transition: .5s;
}
.c_t_t{
	opacity: .6;
	width:100%;
	height: 40%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
#s{
	color:gray;
	font-size: .7em;
	margin-left: 3%;
}
#f{
	color:#a88061;
	margin-left: 3%;
} 
#t{
	color:#d1b36f;
	margin-left: 3%;
	font-size: .7em;
} 
.text-post{
	text-align: center;
	color:gray;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.switchers{
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-size:15px;
	height: 5%;
	margin-top: 20px;
}
.fa-chevron-circle-left,.fa-chevron-circle-right{
	color:#602707;
	align-self: flex-end;
	opacity: .6;
	transition: .5s;
	margin-left: 3px;
}
.fa-chevron-circle-left:hover{
	opacity: 1;
	cursor: pointer;
}
.fa-chevron-circle-right:hover{
	opacity: 1;
	cursor: pointer;
}
.content_card2:hover #ct2{
	background-color: #300f00;
	cursor: pointer;
	opacity: 1;
}
.content_card2:hover #f{
	color:#d1b36f;
}
.content_card2:hover #w{
	color:#d1af6f!important;
}
.content_card2:hover #s{
	color:#fff;
}
.fas.fa-calendar{
	color:white!important;
	z-index:10;
	position: relative;
	font-size: 1.5em;
	top: 50px;
	left: 25px;
}
@media(orientation:portrait) and (max-width:900vh){
	.content2{
		height:55%;
		flex-direction: column;
	}
	.content_card2{
		height:10%;
		width:50%;
		justify-content: space-around;
		margin-bottom: 20px;
	}
	#x{
		font-size: 1em;
	}
	#z{
		font-size:.8em;
	}
	#s{
		display: none;
	}
	.content_text2{
		width: 100%;
	}
	.text-post{
		height: 20%;
		width: 90%;
		justify-content: flex-end;
		align-self: center;
	}
	.fa-chevron-circle-left,.fa-chevron-circle-right{
		align-self: center;
	}
}