 .purchase{
 	height:100%;
 	width:100%;
 	align-self: center;
 	font-size:12px;
 	color:white;
 	background-color: #8e6343;
 	border-bottom: solid 2px #b58e70!important;
 	border:none;
 	transition: .5s;
 }
 .purchase:hover{
 	background-color:#b58e70;
 }
 .buy_container_text{
 	align-self: center;
 }
 #a{
 	color:#8e6343;
 }
 .text_buy{
 	color:white;
 }
 .text2_buy{
 	color:#35301b;
 }
 .abutton{
 	height:50%;
 	width:10%;
 	align-self: center;
 }